$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.app
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.Cache
*.cachefile
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dmg
*.dotCover
*.DotSettings.user
*.e2e
*.GhostDoc.xml
*.gpState
*.ilk
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ldf
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ncrunch*
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pid
*.pidb
*.plg
*.psess
*.Publish.xml
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.seed
*.sln.docstates
*.sln.iml
*.snupkg
*.stackdump
*.suo
*.svclog
*.tar.gz
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.usertasks
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.axoCover/*
.builds
.com.apple.timemachine.donotpresent
.cr/personal
.DocumentRevisions-V100
.dotnet/
.DS_Store
.fake/
.fseventsd
.grunt
.idea/*
.ionide/
.localhistory/
.lock-wscript
.LSOverride
.mfractor/
.node_repl_history
.npm
.ntvs_analysis.dat
.nyc_output
.paket/paket.exe
.sass-cache/
.Spotlight-V100
.TemporaryItems
.Trashes
.tye/
.VolumeIcon.icns
.vs/*
.vscode/*
._*
/tools
aclocal.m4
AppPackages/
artifacts/
ASALocalRun/
autom4te.cache/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bin
bld/
build/Release
BundleArtifacts/
ClientBin
ClientBin/
config.make
config.status
coverage
coverage*.info
coverage*.json
coverage*.xml
csx
csx/
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
ehthumbs.db
ehthumbs_vista.db
FakesAssemblies/
FodyWeavers.xsd
Generated\ Files/
Generated_Code #added for RIA/Silverlight projects
Generated_Code/
healthchecksdb
Icon
install-sh
ipch/
jspm_packages
lib-cov
logs
Logs/
Makefile.in
MigrationBackup/
mono_crash.*
nCrunchTemp_*
Network Trash Folder
node_modules
node_modules/
npm-debug.log*
nunit-*.xml
nupkg/*.nupkg
nupkg/*.snupkg
nupkg/push-hikalkan.bat
nupkg/push.bat
nupkg/push.ps1
obj
OpenCover/
orleans.codegen.cs
output/test-results/*
Package.StoreAssociation.xml
packages
paket-files/
pids
ProfileImages/
project.fragment.lock.json
project.lock.json
publish
publish/
PublishScripts/
rcf/
ScaffoldingReadMe.txt
ServiceFabricBackup/
sql
src/.vs/config/applicationhost.config
StyleCopReport.xml
tarballs/
Temporary Items
test-results/
TestResult.xml
TestResults
Thumbs.db
typings
UpgradeLog*.htm
UpgradeLog*.XML
WebApiDatabase.db
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]atabases/
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress
[Ee]xpress/
[Ii]mages/
[Ll]og/
[Ll]ogs/
[Oo]bj
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
~$*